/* ==UserStyle==
@name           Advent of Code - Responsive Default Style
@namespace      userstyles.x3ro.dev
@version        1.0.0
==/UserStyle== */

@-moz-document domain("adventofcode.com") {
    article {
        max-width: 45em; /* Disable this line to make it always use the full width */
        width: auto;
    }

    body {
        min-width: auto;
    }

    pre:not(.calendar) {
        overflow: auto;
        max-width: 100vw;
    }

    @media (max-width: 875px) {
        header nav > ul > li {
            float: left;
        }

        header .title-global {
            position: absolute;
        }

        header .title-event {
            position: absolute;
            top: 1.95rem;
            left: 0.5rem;
        }

        header .user {
            position: absolute;
            right: 0.8rem;
        }

        div:nth-child(1) nav {
            margin-top: 4em;
        }
        div:nth-child(2) nav {
            margin-top: 0.5em;
        }

    }

    @media (max-width: 950px) {
        pre.calendar {
            position:absolute;
            right: 13.5em;
            margin-top: 0em;
        }
    }
}
