/* ==UserStyle==
@name           ZSA Oryx - Improved Layer Tabs
@namespace      userstyles.x3ro.dev
@version        1.0.0
==/UserStyle== */

@-moz-document domain("configure.zsa.io") {
    .tabs-container {
        gap: 5px;
        flex-wrap: wrap;
        margin: 0 5px 5px 0;
    }


    /* --- Tab --- */
    .tabs-container > .tab {
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 5px;
    }
    /* Tab link */
    .tabs-container > .tab > a {
        display: inline-block;
        min-width: 130px !important;
        padding: 12px 0px 15px 0px;
    }
    /* Layer number */
    .tabs-container > .tab > a > b {
        float: right;
        padding-right: 10px;
    }
    /* Layer options button */
    .tabs-container > .tab > span {
        border-right: 1px solid #cccccc;
    }
    .tabs-container > .tab > span > i {
        float: right;
        display: block;
        margin: 10px 0px 15px 0px;
        padding: 0px 5px 4px 5px;
    }


    /* --- Tab (hover) --- */
    .tabs-container > .tab:hover {
        background-color: #008cba !important;
        color: #ffffff;
    }
    .tabs-container > .tab:hover > * {
        color: #ffffff !important;
    }


    /* --- Tab (active) --- */
    .tabs-container > .tab.active {
        background-color: #d48f2e !important;
        color: #ffffff;
    }
    .tabs-container > .tab.active > * {
        line-height: inherit !important;
        color: #ffffff !important;
    }
}
